<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}"/>
    <link th:href="@{/dashboard/css/bootstrap.min.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/dashboard/css/custom.css}" rel="stylesheet"/>

    <link type="text/css" th:href="@{/dashboard/css/admin.css}" rel="stylesheet"/>

    <!-- Added following stylesheets for Administration Post Forms v0.3.6-->

    <link rel="stylesheet" th:href="@{/css/bootstrap-select.css}" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-dialog.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-multiselect.css}" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-tagsinput.css}"/>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>-->
    <!--<script type="text/javascript">-->
        <!--var $jq = jQuery.noConflict();-->
    <!--</script>-->

    <!--<script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>-->

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <script th:inline="javascript">
        /*<![CDATA[*/

        $(document).ready(function () {
            $(function () {
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                $(document).ajaxSend(function (e, xhr, options) {
                    xhr.setRequestHeader(header, token);
                });
            });
        });

        /*]]>*/
    </script>

</head>
</html>

