<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="scripts">
    <script th:src="@{/dashboard/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-dialog.js}"></script>
    <script th:src="@{/dashboard/js/nicescroll/jquery.nicescroll.min.js}"></script>
    <script th:src="@{/dashboard/js/progressbar/bootstrap-progressbar.min.js}"></script>
    <script th:src="@{/dashboard/js/custom.js}"></script>

    <!-- Added following JS files for Administration Post Forms v0.3.6-->
    <script th:src="@{/js/bootstrap-multiselect.js}"></script>
    <script th:src="@{/js/bootstrap-select.min.js}"></script>
    <script th:inline="javascript">

        function showDialog(title, result) {

            BootstrapDialog.show({
                type: BootstrapDialog.TYPE_PRIMARY,
                title: title,
                message: result,
                draggable: true,
                buttons: [{
                    label: 'Close',
                    cssClass: 'btn-info',
                    action: function (dialogItself) {
                        dialogItself.close();
                    }
                }]
            })

        }

    </script>
</div>

<div th:fragment="mockup">

    <link type="text/css" th:href="@{/dashboard/css/animate.min.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/dashboard/css/maps/jquery-jvectormap-2.0.3.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/dashboard/css/icheck/flat/red.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/dashboard/css/floatexamples.css}" rel="stylesheet"/>

    <!-- icheck -->
    <script th:src="@{/dashboard/js/icheck/icheck.min.js}"></script>
    <script th:src="@{/dashboard/js/cropping/cropper.min.js}"></script>
    <script th:src="@{/dashboard/js/cropping/main.js}"></script>
    <!-- daterangepicker -->
    <script type="text/javascript" th:src="@{/dashboard/js/moment/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/dashboard/js/datepicker/daterangepicker.js}"></script>
    <!-- chart js -->
    <script th:src="@{/dashboard/js/chartjs/chart.min.js}"></script>
    <!-- sparkline -->
    <script th:src="@{/dashboard/js/sparkline/jquery.sparkline.min.js}"></script>

    <!-- flot js -->
    <script type="text/javascript" th:src="@{/dashboard/js/flot/jquery.flot.js}"></script>
    <script type="text/javascript" th:src="@{/dashboard/js/flot/jquery.flot.pie.js}"></script>
    <script type="text/javascript" th:src="@{/dashboard/js/flot/jquery.flot.orderBars.js}"></script>
    <script type="text/javascript" th:src="@{/dashboard/js/flot/jquery.flot.time.min.js}"></script>
    <script type="text/javascript" th:src="@{/dashboard/js/flot/date.js}"></script>
    <script type="text/javascript" th:src="@{/dashboard/js/flot/jquery.flot.spline.js}"></script>
    <script type="text/javascript" th:src="@{/dashboard/js/flot/jquery.flot.stack.js}"></script>
    <script type="text/javascript" th:src="@{/dashboard/js/flot/curvedLines.js}"></script>
    <script type="text/javascript" th:src="@{/dashboard/js/flot/jquery.flot.resize.js}"></script>
    <!-- pace -->
    <script th:src="@{/dashboard/js/pace/pace.min.js}"></script>


    <!-- flot -->
    <script type="text/javascript">
        //<![CDATA[

        //define chart clolors ( you maybe add more colors if you want or flot will add it automatic )
        var chartColours = ['#96CA59', '#3F97EB', '#72c380', '#6f7a8a', '#f7cb38', '#5a8022', '#2c7282'];

        //generate random number for charts
        randNum = function () {
            return (Math.floor(Math.random() * (1 + 40 - 20))) + 20;
        };

        //define chart clolors ( you maybe add more colors if you want or flot will add it automatic )
        var chartColours = ['#96CA59', '#3F97EB', '#72c380', '#6f7a8a', '#f7cb38', '#5a8022', '#2c7282'];

        //generate random number for charts
        randNum = function () {
            return (Math.floor(Math.random() * (1 + 40 - 20))) + 20;
        }

        $(function () {
            var d1 = [];
            //var d2 = [];

            //here we generate data for chart
            for (var i = 0; i < 30; i++) {
                d1.push([new Date(Date.today().add(i).days()).getTime(), randNum() + i + i + 10]);
                //    d2.push([new Date(Date.today().add(i).days()).getTime(), randNum()]);
            }

            var chartMinDate = d1[0][0]; //first day
            var chartMaxDate = d1[20][0]; //last day

            var tickSize = [1, "day"];
            var tformat = "%d/%m/%y";

            //graph options
            var options = {
                grid: {
                    show: true,
                    aboveData: true,
                    color: "#3f3f3f",
                    labelMargin: 10,
                    axisMargin: 0,
                    borderWidth: 0,
                    borderColor: null,
                    minBorderMargin: 5,
                    clickable: true,
                    hoverable: true,
                    autoHighlight: true,
                    mouseActiveRadius: 100
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        lineWidth: 2,
                        steps: false
                    },
                    points: {
                        show: true,
                        radius: 4.5,
                        symbol: "circle",
                        lineWidth: 3.0
                    }
                },
                legend: {
                    position: "ne",
                    margin: [0, -25],
                    noColumns: 0,
                    labelBoxBorderColor: null,
                    labelFormatter: function (label, series) {
                        // just add some space to labes
                        return label + '&nbsp;&nbsp;';
                    },
                    width: 40,
                    height: 1
                },
                colors: chartColours,
                shadowSize: 0,
                tooltip: true, //activate tooltip
                tooltipOpts: {
                    content: "%s: %y.0",
                    xDateFormat: "%d/%m",
                    shifts: {
                        x: -30,
                        y: -50
                    },
                    defaultTheme: false
                },
                yaxis: {
                    min: 0
                },
                xaxis: {
                    mode: "time",
                    minTickSize: tickSize,
                    timeformat: tformat,
                    min: chartMinDate,
                    max: chartMaxDate
                }
            };
            var plot = $.plot($("#placeholder33x"), [{
                label: "Email Sent",
                data: d1,
                lines: {
                    fillColor: "rgba(150, 202, 89, 0.12)"
                }, //#96CA59 rgba(150, 202, 89, 0.42)
                points: {
                    fillColor: "#fff"
                }
            }], options);
        });
        //]]>
    </script>
    <!-- /flot -->
    <!--  -->
    <script>

        $('document').ready(function () {

            $(".sparkline_one").sparkline([2, 4, 3, 4, 5, 4, 5, 4, 3, 4, 5, 6, 4, 5, 6, 3, 5, 4, 5, 4, 5, 4, 3, 4, 5, 6, 7, 5, 4, 3, 5, 6], {
                type: 'bar',
                height: '125',
                barWidth: 13,
                colorMap: {
                    '7': '#a1a1a1'
                },
                barSpacing: 2,
                barColor: '#26B99A'
            });

            $(".sparkline11").sparkline([2, 4, 3, 4, 5, 4, 5, 4, 3, 4, 6, 2, 4, 3, 4, 5, 4, 5, 4, 3], {
                type: 'bar',
                height: '40',
                barWidth: 8,
                colorMap: {
                    '7': '#a1a1a1'
                },
                barSpacing: 2,
                barColor: '#26B99A'
            });

            $(".sparkline22").sparkline([2, 4, 3, 4, 7, 5, 4, 3, 5, 6, 2, 4, 3, 4, 5, 4, 5, 4, 3, 4, 6], {
                type: 'line',
                height: '40',
                width: '200',
                lineColor: '#26B99A',
                fillColor: '#ffffff',
                lineWidth: 3,
                spotColor: '#34495E',
                minSpotColor: '#34495E'
            });

            var doughnutData = [{
                value: 30,
                color: "#455C73"
            }, {
                value: 30,
                color: "#9B59B6"
            }, {
                value: 60,
                color: "#BDC3C7"
            }, {
                value: 100,
                color: "#26B99A"
            }, {
                value: 120,
                color: "#3498DB"
            }];

            Chart.defaults.global.legend = {
                enabled: false
            };

            var canvasDoughnut = new Chart(document.getElementById("canvas1i"), {
                type: 'doughnut',
                showTooltips: false,
                tooltipFillColor: "rgba(51, 51, 51, 0.55)",
                data: {
                    labels: [
                        "Symbian",
                        "Blackberry",
                        "Other",
                        "Android",
                        "IOS"
                    ],
                    datasets: [{
                        data: [15, 20, 30, 10, 30],
                        backgroundColor: [
                            "#BDC3C7",
                            "#9B59B6",
                            "#455C73",
                            "#26B99A",
                            "#3498DB"
                        ],
                        hoverBackgroundColor: [
                            "#CFD4D8",
                            "#B370CF",
                            "#34495E",
                            "#36CAAB",
                            "#49A9EA"
                        ]

                    }]
                }
            });

            var canvasDoughnut = new Chart(document.getElementById("canvas1i2"), {
                type: 'doughnut',
                showTooltips: false,
                tooltipFillColor: "rgba(51, 51, 51, 0.55)",
                data: {
                    labels: [
                        "Symbian",
                        "Blackberry",
                        "Other",
                        "Android",
                        "IOS"
                    ],
                    datasets: [{
                        data: [15, 20, 30, 10, 30],
                        backgroundColor: [
                            "#BDC3C7",
                            "#9B59B6",
                            "#455C73",
                            "#26B99A",
                            "#3498DB"
                        ],
                        hoverBackgroundColor: [
                            "#CFD4D8",
                            "#B370CF",
                            "#34495E",
                            "#36CAAB",
                            "#49A9EA"
                        ]

                    }]
                }
            });

            var canvasDoughnut = new Chart(document.getElementById("canvas1i3"), {
                type: 'doughnut',
                showTooltips: false,
                tooltipFillColor: "rgba(51, 51, 51, 0.55)",
                data: {
                    labels: [
                        "Symbian",
                        "Blackberry",
                        "Other",
                        "Android",
                        "IOS"
                    ],
                    datasets: [{
                        data: [15, 20, 30, 10, 30],
                        backgroundColor: [
                            "#BDC3C7",
                            "#9B59B6",
                            "#455C73",
                            "#26B99A",
                            "#3498DB"
                        ],
                        hoverBackgroundColor: [
                            "#CFD4D8",
                            "#B370CF",
                            "#34495E",
                            "#36CAAB",
                            "#49A9EA"
                        ]

                    }]
                }
            });
        })
        ;
    </script>
    <!-- -->
    <!-- datepicker -->
    <script type="text/javascript">
        $(document).ready(function () {

            var cb = function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
            }

            var optionSet1 = {
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: '12/31/2015',
                dateLimit: {
                    days: 60
                },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'left',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            };
            $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#reportrange').daterangepicker(optionSet1, cb);
            $('#reportrange').on('show.daterangepicker', function () {
                console.log("show event fired");
            });
            $('#reportrange').on('hide.daterangepicker', function () {
                console.log("hide event fired");
            });
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
            });
            $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
                console.log("cancel event fired");
            });
            $('#options1').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
            });
            $('#options2').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
            });
            $('#destroy').click(function () {
                $('#reportrange').data('daterangepicker').remove();
            });
        });
    </script>
    <!-- /datepicker -->
</div>
</body>
</html>

