<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<div th:fragment="sidebar">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a th:href="@{/admin}" class="site_title"><i class="fa fa-dashboard"></i> <span>Administration</span></a>
        </div>
        <div class="clearfix"></div>

        <!-- menu prile quick info -->
        <div class="profile">
            <div class="profile_pic">
                <img th:src="@{/dashboard/images/img.jpg}" alt="..." class="img-circle profile_img"/>
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>John Doe</h2>
            </div>
        </div>
        <!-- /menu prile quick info -->

        <br/>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li><a th:href="@{/admin}"><i class="fa fa-home"></i> Dashboard</a></li>
                    <li><a><i class="fa fa-user"></i> Security<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a th:href="@{/admin/users}">Users</a>
                            </li>
                            <li><a th:href="@{/admin/roles}">Roles</a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-cog"></i> Site<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a th:href="@{/admin/site/settings}">General Settings</a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-file-text"></i> Posts<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a th:href="@{/admin/posts}">All Posts</a>
                            </li>
                            <li><a th:href="@{/admin/posts/tags}">Tags</a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-briefcase"></i> Addons<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a th:href="@{/admin/addons/flashcards}">Flashcards</a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-bar-chart"></i> Mockups<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a th:href="@{/admin/mockup}">Mockup Dashboard</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="" th:href="@{/}">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                <span class="sidebar-footer-text">Return to Home</span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>
</body>
</html>