<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="body">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Administration Fragment Template
                        <small>Some task</small>
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content  fill-body">
                    <div class="fill-body-message">
                        <p>Future location for some task...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
