<div class="post link">
    <h3>${post.postTitle}</a></h3>
    <div class="post-content">${post.postContent}</div>

    <div class="post-footer">
        #parse("posts/inc/footer.vm")
    </div>

</div>
