<div class="post link-summary">
    <img alt="" src="${post.postImage}" class="thumbnail-image"/>
    <h3>${post.postTitle}</a></h3>
    <div class="post-content">${post.postContent}</div>
    <div class="post-footer">
        #parse("posts/inc/footer.vm")
    </div>

</div>
