<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
    <title th:text="#{product.view.page.title}"></title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar('products')">Navbar</nav>

<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1 th:text="|#{product.view.page.heading} ${product.id}|">[Product Heading with ID]</h1>
            </div>
            <div th:replace="fragments/sponsor :: [id='sponsor']">Sponsor Image</div>
        </div>
    </div>

</div>
<div class="container bs-docs-container big-font-container">
    <div class="row row-centered">
        <div class="bs-docs-section col-lg-9 col-centered">
            <div id="form-table">
                <div class="heading">
                    <h2 th:text="#{product.view.page.gridheading}">[Product Details]</h2>
                </div>
                <table class="table table-condensed">
                    <tr>
                        <td class="td-label">
                            <div th:text="#{product.label.id}">[ProductId]</div>
                        </td>
                        <td>
                            <div th:text="${product.id}"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label">
                            <div th:text="#{product.label.name}">[ProductName]</div>
                        </td>
                        <td>
                            <div th:text="${product.name}"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <nav th:replace="fragments/secinfo">User Info</nav>
</div>

<div th:include="fragments/scripts :: [id='scripts']" th:remove="tag">Scripts</div>
</body>
</html>
