<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="navbar(activeTab)">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only" th:text="#{navbar.toggle}">[Toggle navigation]</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:text="#{navbar.brand}" th:href="@{/}">[NixMash Spring]</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <!--<li th:class="${activeTab == 'home' || activeTab == 'error'}? 'active' : null"><a href="/"-->
                    <!--th:href="@{/}"><span-->
                    <!--class="glyphicon glyphicon-home"></span><span th:text="#{navbar.home}"-->
                    <!--th:remove="tag">[Home]</span></a></li>-->
                    <li th:class="${activeTab == 'demos'}? 'active dropdown' : 'dropdown'"><a href="#"
                                                                                              class="dropdown-toggle"
                                                                                              data-toggle="dropdown"
                                                                                              role="button"
                                                                                              aria-expanded="false"><span
                            th:text="#{navbar.demos}" th:remove="tag">[Demos]</span> <span
                            class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle"
                                                                     data-toggle="dropdown"
                                                                     th:text="#{navbar.demos.spring.jpa}">[Spring
                                JPA]</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/contacts" th:href="@{/contacts}"><span
                                            class="glyphicon glyphicon-th-list"></span><span
                                            th:text="#{navbar.contacts.view}"
                                            th:remove="tag">[Contacts]</span>
                                    </a></li>
                                    <li><a href="/contacts/search" th:href="@{/contacts/search}"><span
                                            class="glyphicon glyphicon-search"></span><span
                                            th:text="#{navbar.contacts.search}"
                                            th:remove="tag">[Search]</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle"
                                                                     data-toggle="dropdown"
                                                                     th:text="#{navbar.demos.spring.solr}">[Spring
                                Solr]</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/products" th:href="@{/products}"><span
                                            class="glyphicon glyphicon-th-list"></span><span
                                            th:text="#{navbar.products.view}"
                                            th:remove="tag">[Products]</span>
                                    </a></li>
                                    <li><a href="/products/search" th:href="@{/products/search}"><span
                                            class="glyphicon glyphicon-search"></span><span
                                            th:text="#{navbar.products.search}"
                                            th:remove="tag">[Search Products]</span></a>
                                    </li>
                                    <li><a href="/products/search" th:href="@{/products/categories}"><span
                                            class="glyphicon glyphicon-list-alt"></span>&nbsp;<span
                                            th:text="#{navbar.products.categories}"
                                            th:remove="tag">[Product Categories]</span></a>
                                    </li>
                                    <li><a href="/products/map" th:href="@{/products/map}"><span
                                            class="glyphicon glyphicon-map-marker"></span>&nbsp;<span
                                            th:text="#{navbar.products.map}"
                                            th:remove="tag">[Product Map]</span></a></li>
                                </ul>
                            </li>
                            <li><a href="/posts/photos"
                                   th:href="@{/posts/photos}"
                                   th:text="#{navbar.demos.uploads}">[Multi-Image Uploads]</a></li>
                            <li><a href="/posts/flashcards"
                                   th:href="@{/posts/flashcards}"
                                   th:text="#{navbar.demos.flashcards}">[Flashcards]</a></li>
                        </ul>
                    </li>
                    <li th:class="${activeTab == 'posts'} ? 'active' : null"><a href="#" class="dropdown-toggle"
                                                                                data-toggle="dropdown"
                                                                                th:text="#{navbar.posts}">[Posts] <span
                            class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/posts"
                                   th:href="@{/posts}"
                                   th:text="#{navbar.posts.recent}">[Recent Posts]</a></li>
                            <li><a href="/posts/titles"
                                   th:href="@{/posts/titles}"
                                   th:text="#{navbar.posts.titles}">[Post Titles]</a></li>
                            <li><a href="/posts/az"
                                   th:href="@{/posts/az}"
                                   th:text="#{navbar.posts.az}">[Posts A-Z]</a></li>
                            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/posts/add" th:href="@{/admin/posts/add/post}"><span th:text="#{navbar.posts.add}"
                                                                                   th:remove="tag">[Add Post]</span>
                            </a></li>
                        </ul>
                    </li>

                    <li th:class="${activeTab == 'contact'} ? 'active' : null"><a href="/users/contact"
                                                                                  th:href="@{/users/contact}"
                                                                                  th:text="#{mail.contact.navbar.linktext}">[Contact]</a>
                    </li>

                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="/admin" th:href="@{/admin}"><span th:text="#{navbar.admin}"
                                                                   th:remove="tag">[Admin]</span></a>
                    </li>
                </ul>

                <div th:unless="${activeTab == 'error'}" th:remove="tag">
                    <!--/*@thymesVar id="currentUserConnection" type="com.nixmash.springdata.jpa.model.UserConnection"*/-->
                    <!--/*@thymesVar id="currentUser" type="com.nixmash.springdata.jpa.model.CurrentUser"*/-->
                    <div th:if="${currentUser != null}" th:remove="tag">
                        <form class="navbar-form pull-right" th:action="@{/logout}" method="post">
                            <input type="submit" value="Log out" class="btn btn-default"/>
                        </form>

                        <img class="navbar-profilepic pull-right"
                             th:src="@{|${currentUser.getProfileIconUrl()}?${new java.util.Date().getTime()}|}"
                             width="32" height="32"/>

                        <!-- TODO: Remove User Nav Menu when in mobile view -->
                        <ul class="nav navbar-nav navbar-nav-welcome ">
                            <li><a href="#" class="navbar-text pull-right navbar-welcome dropdown-toggle"
                                   data-toggle="dropdown" th:utext="#{navbar.welcome(${currentUser.getFullName()})}">[User FullName] <span
                                    class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a
                                            th:href="@{|/${currentUser.user.username}|}"
                                            th:text="#{navbar.user.userprofile}">[Your User Profile]</a>
                                    </li>
                                    <li><a
                                            th:href="@{/users/resetpassword}"
                                            th:text="#{navbar.user.password}">[Reset Your User Password]</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                    <div th:if="${currentUser == null}" class="navbar-right">
                        <a th:href="@{'/signin/'}" th:text="#{web.site.login}" class="navbar-text margin-5">[Login]</a>
                        <span class="navbar-text margin-5">|</span> <a th:href="@{'/register/'}"
                                                                       th:text="#{web.site.signup}"
                                                                       class="navbar-text margin-5">[Signup]</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>


</body>
</html>

