<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<div id="scripts">
    <script th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-dialog.js}"></script>
    <script th:src="@{/js/bootstrap-multiselect.js}"></script>
    <script th:src="@{/js/application.js}"></script>


    <script th:inline="javascript">

        function showDialog(title, result) {

            BootstrapDialog.show({
                type: BootstrapDialog.TYPE_PRIMARY,
                title: title,
                message: result,
                draggable: true,
                buttons: [{
                    label: 'Close',
                    cssClass: 'btn-info',
                    action: function (dialogItself) {
                        dialogItself.close();
                    }
                }]
            })

        }

    </script>

    <div th:if="${appSettings.getAddGoogleAnalytics()}" th:remove="tag">
        <!-- Google Analytics -->
        <script th:inline="javascript">
            window.ga = window.ga || function () {
                        (ga.q = ga.q || []).push(arguments)
                    };
            ga.l = +new Date;
            ga('create', [[${appSettings.getGoogleAnalyticsTrackingId()}]], 'auto');
            ga('send', 'pageview');
        </script>
        <!--<script async src='https://www.google-analytics.com/analytics.js'></script>-->
        <!-- End Google Analytics -->
    </div>

</div>
</html>














