<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="body">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 th:text="#{admin.link.add.title}">[Add a Link]
                    </h2>
                    <small th:unless="${hasLink}" th:text="#{admin.link.add.subtitle}" class="h2_subtitle">[Enter Link]</small>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content  fill-body-table">
                    <div id="message-holder">
                        <div th:if="${feedbackMessage}"
                             th:class="'messageblock hidden'"
                             th:text="${feedbackMessage}"></div>
                    </div>

                    <div th:unless="${hasLink}">
                        <form th:object="${postLink}" th:action="@{/admin/posts/add/link}" method="get"
                              class="form-horizontal" id="search-product-form">
                            <table class="table table-striped">
                                <tr th:classappend="${#fields.hasErrors('link')} ? 'has-error'">
                                    <td class="col-sm-1">
                                        <div class="control-group"
                                             th:classappend="${#fields.hasErrors('link')} ? 'error'">
                                            <label class="control-label">Source Url</label>
                                        </div>
                                    </td>
                                    <td class="col-sm-10">
                                        <div class="controls">
                                            <input type="text" class="form-control" id="linkField" name="link" size="30"
                                                   maxlength="120"/>
                                        </div>
                                        <div class="controls" th:if="${#fields.hasErrors('link')}">
                                            <h4>
                                                <span class="label label-danger" th:errors="*{link}">[Errors]</span>
                                            </h4>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="form-actions pull-right">
                                            <button type="submit" class="btn btn-success" name="isLink" value="true"
                                                    th:text="#{add.post.button.link}"></button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>

                    <div th:if="${hasLink}">
                        <form th:object="${postDTO}" method="post" th:action="@{/admin/posts/add/link}"
                              class="form-horizontal" id="link-add-form">

                            <div th:include="fragments/formutils :: global-errors" th:remove="tag">[Global Errors]</div>

                            <table class="table table-striped">
                                <tr>
                                    <td colspan="2" class="page-preview">
                                        <p th:if="*{postImage}"><img th:src="*{postImage}" alt="" class="thumbnail"/></p>
                                        <h3><a th:href="*{postLink}" th:text="*{postTitle}" target="_blank">[Post Title]</a>
                                        </h3>
                                        <p th:utext="*{postContent}">[Post Description]</p>
                                    </td>
                                </tr>

                                <div th:include="admin/fragments/posts/postform :: title-editor" th:remove="tag">[Title Editor Rows]</div>

                                <div th:include="admin/fragments/posts/postform :: carousel" th:remove="tag">[Carousel]</div>

                                <div th:include="admin/fragments/posts/postform :: tags" th:remove="tag">[Tags]</div>

                                <tr class="tr-button-row">
                                    <td></td>
                                    <td>
                                        <div class="form-actions pull-right special-select" id="post-select">
                                            <select th:field="*{displayType}" name="displayType" class="selectpicker"
                                                    data-style="btn-primary">
                                                <option value="LINK_SUMMARY" th:text="#{add.post.button.link.summary}"
                                                        th:disabled="!*{postImage}">[link
                                                    with
                                                    summary]
                                                </option>
                                                <option value="LINK" th:text="#{add.post.button.link.text}">[link]</option>
                                                <option value="LINK_FEATURE" th:text="#{add.post.button.link.feature}"
                                                        th:disabled="!*{hasImages}">
                                                    [featured
                                                    link]
                                                </option>
                                                <option value="NIXMASH_POST" th:text="#{add.post.button.nixmash.post}"
                                                        th:disabled="!*{hasImages}">[nixmash
                                                    spring post link]
                                                </option>
                                            </select>

                                            <button type="submit" class="btn btn-success" name="link" value="true">Submit
                                            </button>
                                        </div>
                                        <div class="pull-right"
                                             th:classappend="${#fields.hasErrors('displayType')} ? 'has-error pad-right'">
                                            <label class="control-label" th:errors="*{displayType}">[error]</label>
                                        </div>
                                    </td>
                                </tr>

                            </table>
                            <input type="hidden" name="postImage" th:value="*{postImage}"/>
                            <input type="hidden" name="postLink" th:value="*{postLink}"/>
                            <input type="hidden" name="postType" th:value="*{postType}"/>
                            <input type="hidden" name="hasImages" th:value="*{hasImages}"/>
                            <input type="hidden" id="imageIndex" name="imageIndex" value="1"/>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
