<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="body">

    <!--/*@thymesVar id="post" type="com.nixmash.springdata.jpa.model.Post"*/-->
    <!--/*@thymesVar id="posts" type="List<com.nixmash.springdata.jpa.model.Post>"*/-->
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 th:text="#{admin.posts.title}">[Post Administration]
                    </h2>
                    <small th:text="#{admin.posts.subtitle}" class="h2_subtitle">[List Posts]</small>
                    <div class="form-actions col-md-offset-3 col-sm-offset-2 pull-right">
                        <a th:href="@{'/admin/posts/add/post'}" th:text="#{admin.posts.button.new}"
                           class="btn btn-primary">[Add Post]</a>
                        <a th:href="@{'/admin/posts/add/link'}" th:text="#{admin.links.button.new}"
                           class="btn btn-primary">[Add a Link]</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content  fill-body-table">
                    <div id="message-holder">
                        <div th:if="${feedbackMessage}"
                             th:class="'messageblock hidden'"
                             th:text="${feedbackMessage}"></div>
                    </div>
                    <table id="postsTable" dt:table="true" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Tags</th>
                            <th>Post Type</th>
                            <th dt:sortInitDirection="desc">Date</th>
                            <th>Published</th>
                            <th style="width: 36px;" dt:sortable="false"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="post : ${posts}" th:with="creationDate=${post.postDate},
                                            displayType=|${#strings.replace(post.displayType,'_', ' ')}|">
                            <td th:classappend="${post.isPublished} ? 'published-title' :  'draft-title'">
                                <a th:href="|@{/posts/post/}${post.postName}|" th:text="${post.postTitle}" target="_blank">title</a>
                            </td>
                            <td>
                                <div th:each="tag : ${post.tags}" class="inline-tag" th:inline="text" th:text="${tag.tagValue}"></div>
                            </td>
                            <td class="post-displaytype-col" th:text="|${#strings.toLowerCase(displayType)}|">post display type</td>
                            <td th:text="|${#dates.format(creationDate.toInstant(), 'MMM dd, yyyy')}|">post date</td>
                            <td class="post-check-col"><input type="checkbox" th:checked="${post.isPublished}" disabled="true"/></td>
                            <td><a th:href="@{|/admin/posts/update/${post.postId}|}" target="_blank"><span
                                    class="glyphicon glyphicon-pencil"></span></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
