<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="body">
    <!--/*@thymesVar id="postDTO" type="com.nixmash.springdata.jpa.dto.PostDTO"*/-->

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 th:text="${pageHeading}">[Update Post or Link]</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content  fill-body-table">
                    <div id="message-holder">
                        <div th:if="${feedbackMessage}"
                             th:class="'messageblock hidden'"
                             th:text="${feedbackMessage}"></div>
                    </div>
                    <form th:object="${postDTO}" method="post" th:action="@{/admin/posts/update}"
                          class="form-horizontal" id="link-add-form">

                        <div th:include="fragments/formutils :: global-errors" th:remove="tag">[Global Errors]</div>

                        <table class="table table-striped">
                            <tr th:classappend="${#fields.hasErrors('postTitle')} ? 'has-error'">
                                <td class="col-sm-1">
                                    <div class="control-group" th:classappend="${#fields.hasErrors('postTitle')} ? 'error'">
                                        <label class="control-label">Title</label>
                                    </div>
                                </td>
                                <td class="col-sm-10">
                                    <div class="controls">
                                        <input type="text" class="form-control" th:field="*{postTitle}"/>
                                        <label class="control-label" th:errors="*{postTitle}">[error]</label>
                                    </div>
                                </td>
                            </tr>
                            <tr th:classappend="${#fields.hasErrors('postContent')} ? 'has-error'">
                                <td>
                                    <div class="control-group"
                                         th:classappend="${#fields.hasErrors('postContent')} ? 'error'">
                                        <label class="control-label">Description</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="controls">
                                    <textarea name="postContent" th:field="*{postContent}" rows="5"
                                              class="mail-body" id="summernote"></textarea>
                                        <label class="control-label" th:errors="*{postContent}">[error]</label>
                                    </div>
                                </td>
                            </tr>
                            <tr class="tr-tag-row" th:classappend="${#fields.hasErrors('tags')} ? 'has-error'">
                                <td class="col-sm-1">
                                    <div class="control-group" th:classappend="${#fields.hasErrors('tags')} ? 'error'">
                                        <label class="control-label">Tags</label>
                                    </div>
                                </td>
                                <td class="col-sm-5">
                                    <div class="controls">
                                        <select id="tag-select" multiple="multiple" data-role="tagsinput" name="tags">
                                            <option th:each="tag : *{tags}" th:text="${tag.getTagValue()}"
                                                    th:value="${tag.getTagValue()}"/>
                                        </select>
                                        <label class="control-label" th:errors="*{tags}">[error]</label>
                                    </div>
                                </td>
                            </tr>
                            <tr class="tr-button-row">
                                <td></td>
                                <td>
                                    <div class="form-actions pull-right special-select" id="post-select">
                                        <div th:if="${hasPost}" th:remove="tag">
                                            <select th:field="*{displayType}" name="displayType" class="selectpicker"
                                                    data-style="btn-primary">
                                                <option value="POST" th:text="#{add.post.option.default}">
                                                    [default post]
                                                </option>
                                                <option value="SINGLEPHOTO_POST" th:text="#{add.post.option.singlephoto}">
                                                    [singleimage post]
                                                </option>
                                                <option value="MULTIPHOTO_POST" th:text="#{add.post.option.multiphoto}">
                                                    [multiphoto post]
                                                </option>
                                            </select>
                                        </div>
                                        <div th:if="${hasLink}" th:remove="tag">
                                            <select th:field="*{displayType}" name="displayType" class="selectpicker"
                                                    data-style="btn-primary">
                                                <option value="LINK_SUMMARY" th:text="#{add.post.button.link.summary}"
                                                        th:disabled="!*{hasImages}">[link
                                                    with
                                                    summary]
                                                </option>
                                                <option value="LINK" th:text="#{add.post.button.link.text}">[link]</option>
                                                <option value="LINK_FEATURE" th:text="#{add.post.button.link.feature}"
                                                        th:disabled="!*{hasImages}">
                                                    [featured
                                                    link]
                                                </option>
                                                <option value="NIXMASH_POST" th:text="#{add.post.button.nixmash.post}"
                                                        th:disabled="!*{hasImages}">[nixmash
                                                    spring post link]
                                                </option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-success" name="link" value="true">Update
                                        </button>
                                        <div th:if="${hasPost}" th:remove="tag">
                                            <button id="imageUploadButton" class="btn btn-success"
                                                    name="imageUploadButton"
                                                    onclick="toggleImageUploads()"
                                                    type="button">Images
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <input type="hidden" name="postId" th:value="*{postId}"/>
                    </form>
                    <div th:if="${hasLinkImage}" th:remove="tag">
                        <div class="link-image">
                            <img th:src="${postDTO.postImage}" alt=""/>
                            <div class="link-image-text">Image for this Link</div>
                        </div>
                    </div>
                    <div th:if="${hasImageUploads}" th:remove="tag">
                        <div th:replace="admin/fragments/posts/imageupload :: image-upload-html">[Image Upload]</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
