<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="body">
    <!--/*@thymesVar id="postDTO" type="com.nixmash.springdata.jpa.dto.PostDTO"*/-->

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 th:text="${pageHeading}">[Update Post or Link]</h2>
                    <div class="form-actions col-md-offset-3 col-sm-offset-2 pull-right">
                        <a th:href="@{|/posts/post/${postName}|}" th:text="#{admin.posts.button.preview}"
                           class="btn btn-primary" target="_blank">[Preview Post]</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content  fill-body-table">
                    <div id="message-holder">
                        <div th:if="${feedbackMessage}"
                             th:class="'messageblock hidden'"
                             th:text="${feedbackMessage}"></div>
                    </div>
                    <form th:object="${postDTO}" method="post" th:action="@{/admin/posts/update}"
                          class="form-horizontal" id="link-add-form">

                        <div th:include="fragments/formutils :: global-errors" th:remove="tag">[Global Errors]</div>

                        <table class="table table-striped">
                            <tr class="ispublished-tr">
                                <td></td>
                                <td class="ispublished-td">
                                    <div class="form-actions pull-right special-select" id="ispublished-select">
                                        <div class="post-status-label" th:text="#{update.post.published.label}">[Status]</div>
                                        <select th:field="*{isPublished}" name="isPublished" id="isPublished" class="selectpicker"
                                                data-style="btn-primary">
                                            <option value="true" th:text="#{update.post.published.true}">
                                                [true]
                                            </option>
                                            <option value="false" th:text="#{update.post.published.false}">
                                                [false]
                                            </option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr th:classappend="${#fields.hasErrors('postTitle')} ? 'has-error'">
                                <td class="col-sm-1">
                                    <div class="control-group" th:classappend="${#fields.hasErrors('postTitle')} ? 'error'">
                                        <label class="control-label">Title</label>
                                    </div>
                                </td>
                                <td class="col-sm-10">
                                    <div class="controls">
                                        <input type="text" id="postTitle" class="form-control" th:field="*{postTitle}"/>
                                        <label class="control-label" th:errors="*{postTitle}">[error]</label>
                                    </div>
                                </td>
                            </tr>
                            <tr th:classappend="${#fields.hasErrors('postContent')} ? 'has-error'">
                                <td>
                                    <div class="control-group"
                                         th:classappend="${#fields.hasErrors('postContent')} ? 'error'">
                                        <label class="control-label">Description</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="controls">
                                    <textarea name="postContent" th:field="*{postContent}" rows="5"
                                              class="mail-body" id="editor"></textarea>
                                        <label class="control-label" th:errors="*{postContent}">[error]</label>
                                    </div>
                                </td>
                            </tr>
                            <tr class="tr-tag-row" th:classappend="${#fields.hasErrors('tags')} ? 'has-error'">
                                <td class="col-sm-1">
                                    <div class="control-group" th:classappend="${#fields.hasErrors('tags')} ? 'error'">
                                        <label class="control-label">Tags</label>
                                    </div>
                                </td>
                                <td class="col-sm-5">
                                    <div class="controls">
                                        <select id="tag-select" multiple="multiple" data-role="tagsinput" name="tags">
                                            <option th:each="tag : *{tags}" th:text="${tag.getTagValue()}"
                                                    th:value="${tag.getTagValue()}"/>
                                        </select>
                                        <label class="control-label" th:errors="*{tags}">[error]</label>
                                    </div>
                                </td>
                            </tr>
                            <tr class="tr-button-row">
                                <td></td>
                                <td>
                                    <div class="form-actions pull-right special-select" id="post-select">
                                        <div th:if="${hasPost}" th:remove="tag">
                                            <select th:field="*{displayType}" name="displayType" class="selectpicker"
                                                    data-style="btn-primary">
                                                <option value="POST" th:text="#{add.post.option.default}">
                                                    [default post]
                                                </option>
                                                <option value="SINGLEPHOTO_POST" th:text="#{add.post.option.singlephoto}">
                                                    [singleimage post]
                                                </option>
                                                <option value="MULTIPHOTO_POST" th:text="#{add.post.option.multiphoto}">
                                                    [multiphoto post]
                                                </option>
                                            </select>
                                        </div>
                                        <div th:if="${hasLink}" th:remove="tag">
                                            <select th:field="*{displayType}" id="displayType" name="displayType" class="selectpicker"
                                                    data-style="btn-primary">
                                                <option value="LINK_SUMMARY" th:text="#{add.post.button.link.summary}"
                                                        th:disabled="!*{hasImages}">[link
                                                    with
                                                    summary]
                                                </option>
                                                <option value="LINK" th:text="#{add.post.button.link.text}">[link]</option>
                                                <option value="LINK_FEATURE" th:text="#{add.post.button.link.feature}"
                                                        th:disabled="!*{hasImages}">
                                                    [featured
                                                    link]
                                                </option>
                                                <option value="NIXMASH_POST" th:text="#{add.post.button.nixmash.post}"
                                                        th:disabled="!*{hasImages}">[nixmash
                                                    spring post link]
                                                </option>
                                            </select>
                                        </div>
                                        <button type="button" class="btn  btn-success" onclick="savePost()">
                                            Save
                                        </button>
                                        <button type="submit" class="btn btn-success" value="true">Update
                                        </button>

                                        <div th:if="${hasPost}" th:remove="tag">
                                            <button id="imageUploadButton" class="btn btn-success"
                                                    name="imageUploadButton"
                                                    onclick="toggleImageUploads()"
                                                    type="button">Images
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <input type="hidden" name="postId" id="postId" th:value="*{postId}"/>
                    </form>
                    <div th:if="${hasLinkImage}" th:remove="tag">
                        <div class="link-image">
                            <img th:src="${postDTO.postImage}" alt=""/>
                            <div class="link-image-text">Image for this Link</div>
                        </div>
                    </div>
                    <div th:if="${hasImageUploads}" th:remove="tag">
                        <div th:replace="admin/fragments/posts/imageupload :: image-upload-html">[Image Upload]</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" th:inline="javascript">

        function savePost() {
            var data = {}
            data["postId"] = parseInt($('#postId').val());
            data["postTitle"] = $('#postTitle').val();
            data["postContent"] = $('#editor').val();
            data["displayType"] = $('#displayType').val();
            data["isPublished"] = $('#isPublished').val();
            data["tags"] = $('#tag-select').val();

            console.log(data);
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/admin/posts/archive",
                data: JSON.stringify(data),
                dataType: 'json',
                timeout: 600000,
                success: function (data) {
                    if (data == "SUCCESS")
                        showDialog("Saved!", 'Your updates have been saved. Click \"Update\" when finished editing.');
                    else
                        showErrorDialog("Error!", 'There was an error updating your post. Please confirm all fields are valid');
                },
                error: function (e) {
                    showDialog("Error!", 'There was an error updating your post.');
                }
            });


        }

    </script>

</div>
</body>
</html>
