.jumbotron
{
    padding: 40px 0;
}
body {
    padding-top: 50px;
}
.page-header h1 {
    font-size: 4em;
}
.page-header {
    border-bottom: none;
}
#sponsor {
    text-align: right;
}
#sponsor img {
    max-width: 175px;
}
.glyphicon-home:before, .glyphicon-th-list:before, .glyphicon-search:before
{
    padding-right: 3px;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
#form-table, #grid-table
{
    font-size: 125%;
}
#form-table .heading {
    width: 240px;
    text-align: right;
}
#form-table table {
    margin: 30px 0;
}
#form-table table.table-condensed td
{
    padding: 2px 10px;
}
#form-table table, #form-table table td, #form-table table tr
{
    border: none;
}
#form-table td.td-label {
    text-align: right;
    font-weight: bold;
    padding-right: 12px;
    width: 250px;
}