/*/<editor-fold> desc="GENERAL ----------------------------/ "*/

div.left_col.scroll-view div.profile {
    margin-bottom: 20px;
    display: inline-block;
}

.site_title i {
    border: none;
}

span.pad-right {
    padding-right: 5px;
}

.x_title small.h2_subtitle {
    margin-left: 10px;
    vertical-align: -webkit-baseline-middle;
}

/*</editor-fold>*/

/*/<editor-fold> desc="SIDEBAR ----------------------------/ "*/

li.current-page {
    background: rgba(236, 214, 214, 0.26)
}

.sidebar-footer-text {
    margin-left: 5px;
}
.sidebar-footer a {
    text-align: left;
    width: 100%;
}

/*</editor-fold>*/

/*/<editor-fold> desc="BODY AREA ----------------------------/ "*/

.fill-body, .fill-body-table {
    min-height: 600px;
}
.fill-body-table {
    font-size: 14px;
}
.fill-body-message {
    font-size: 20px;
    font-style: italic;
}

/*</editor-fold>*/

/*/<editor-fold> desc="FORMS ----------------------------/ "*/

ul.roleList {
    padding-left: 0px;
}

ul.roleList li {
    list-style: none;
    display: inline-block;
    padding-right: 8px;
}

input#authority {
    vertical-align: top;
    margin-right: 8px;
}

#role-form input.btn.btn-primary {
    margin-right: 0px;
}
/*</editor-fold>*/

tr.border-bottom-row {
    border-bottom: solid #ddd 1px;
}