<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
    <title th:text="#{user.password.page.title}"></title>
</head>
<body>

<nav th:replace="fragments/navbar :: navbar('nohighlight')">Navbar</nav>

<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1 th:text="#{user.password.page.header}">[fullname]</h1>
                <p class="lead" th:text="#{user.password.page.subheader}">[All Contacts]</p>
            </div>
            <div th:replace="fragments/sponsor :: [id='sponsor']">Sponsor Image</div>
        </div>
    </div>

</div>
<div class="container bs-container big-font-container">
    <div class="row row-centered">
        <div class="bs-section col-lg-7 col-centered">
            <div id="message-holder">
                <div th:if="${feedbackMessage}"
                     th:class="'messageblock hidden'"
                     th:text="${feedbackMessage}"></div>
            </div>

            <div id="form-table">
                <!--/*@thymesVar id="userPasswordDTO" type="com.nixmash.springdata.jpa.dto.UserPasswordDTO"*/-->
                <form name="f" th:action="@{/users/resetpassword}" th:object="${userPasswordDTO}" method="post"
                      class="form-horizontal">

                    <input type="hidden" name="userId" th:value="*{userId}"/>
                    <input type="hidden" name="verificationToken" th:value="*{verificationToken}"/>

                    <div th:if="${#fields.hasGlobalErrors()}"
                         class="has-error col-lg-offset-2 alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <label class="control-label" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</label>
                    </div>

                    <fieldset>
                        <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
                            <label for="password" class="col-lg-4 control-label"
                                   th:text="#{signup.form.password}">[Password]</label>
                            <div class="col-lg-6">
                                <input type="password" th:field="*{password}" class="form-control" id="password"/>
                                <label class="control-label" th:errors="*{password}">[error]</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="repeatedPassword" class="col-lg-4 control-label"
                                   th:text="#{signup.form.repeatedPassword}">[Verify Password]</label>

                            <div class="col-lg-6">
                                <input type="password" th:field="*{repeatedPassword}" class="form-control" id="repeatedPassword"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6 col-lg-offset-4">
                                <button type="submit" class="btn btn-primary" th:text="#{user.password.form.submit}">[Submit]</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <nav th:replace="fragments/secinfo :: [id='secInfo']">User Info</nav>

</div>
<div th:include=" fragments/scripts :: [id='scripts']" th:remove="tag">Scripts</div>
<div th:include="fragments/alerts :: [id='alerts']" th:remove="tag">Alerts</div>

</body>
</html>
