<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar(activeTab)">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only" th:text="#{navbar.toggle}">[Toggle navigation]</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:text="#{navbar.brand}">[NixMash Spring]</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li th:class="${activeTab == 'home'}? 'active' : null"><a href="/" th:href="@{/}"><span
                            class="glyphicon glyphicon-home"></span><span th:text="#{navbar.home}" th:remove="tag">[Home]</span></a></li>
                    <li th:class="${activeTab == 'contacts'}? 'active' : null"><a href="/contacts"
                                                                                  th:href="@{/contacts}"><span
                            class="glyphicon glyphicon-th-list" ></span><span th:text="#{navbar.contacts}" th:remove="tag">[Contacts]</span>
                    </a></li>
                    <li th:class="${activeTab == 'search'}? 'active' : null"><a href="/contacts/search"
                                                                                th:href="@{/contacts/search}"><span
                            class="glyphicon glyphicon-search"></span><span th:text="#{navbar.search}" th:remove="tag">[Search]</span></a></li>
                </ul>

                <div th:if="${currentUser != null}">
                    <form class="navbar-form pull-right" th:action="@{/logout}" method="post">
                        <input type="submit" value="Log out" class="btn btn-default"/>
                    </form>
                    <a th:href="@{|/${currentUser.user.username}|}" class="navbar-text pull-right" th:utext="#{navbar.welcome(${currentUser.getFullName()})}">
                        [User FullName]
                    </a>
                </div>
                <div th:if="${currentUser == null}" class="navbar-right">
                    <a th:href="@{'/login/'}" th:text="#{web.site.login}" class="navbar-text margin-5">[Login]</a>
                    <span class="navbar-text margin-5">|</span>
                    <a th:href="@{'/register/'}" th:text="#{web.site.register}" class="navbar-text margin-5">[Register]</a>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>

<div class="navbar-right">
    <a class="navbar-text" href="/login/">Login</a><span class="navbar-text">|</span><a class="navbar-text" href="/register/">Register</a>
</div>