<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
    <title>
          <span th:if="${contact['new']}" th:remove="tag" th:text="#{contactform.page.title.new}">
                    [New Contact]
                </span>
        <span th:unless="${contact['new']}" th:remove="tag"
              th:text="#{contactform.page.title.update}">
                     [Update Contact]
             </span>
    </title>
</head>
<body onload="$('input[name=firstName]')
       .focus();$(function () { $('#birthDate')
       .datepicker({ dateFormat: 'mm/dd/yy' }); });">

<nav th:replace="fragments/navbar :: navbar('demos')">Navbar</nav>

<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>
                    <span th:if="${contact['new']}" th:remove="tag" th:text="#{contactform.page.header.new}">
                    [New Contact]
                </span>
                    <span th:unless="${contact['new']}" th:remove="tag"
                          th:text="|#{contactform.page.header.update} ${contact.firstName} ${contact.lastName}|">
                     [Update Contact]
             </span>

                </h1>
            </div>
            <div th:replace="fragments/sponsor :: [id='sponsor']">Sponsor Image</div>
        </div>
    </div>

</div>
<div class="container bs-container big-font-container">
    <div class="row row-centered">
        <div class="bs-section col-lg-9 col-centered">
            <form th:object="${contact}" method="post" action="list.html"
                  th:action="@{${#httpServletRequest.getRequestURI()}}"
                  class="form-horizontal" id="contact-form">

                <div th:if="${#fields.hasGlobalErrors()}"
                     class="has-error col-lg-offset-3 alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <label class="control-label" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</label>
                </div>

                <table class="table table-striped">
                    <tr th:classappend="${#fields.hasErrors('firstName')} ? 'has-error'">
                        <td class="col-sm-1">
                            <div class="control-group" th:classappend="${#fields.hasErrors('firstName')} ? 'error'">
                                <label class="control-label">First Name</label>
                            </div>
                        </td>
                        <td class="col-sm-2">
                            <div class="controls">
                                <input type="text" class="form-control" th:field="*{firstName}"/>
                                <label class="control-label" th:errors="*{firstName}">[error]</label>
                            </div>
                        </td>
                    </tr>
                    <tr th:classappend="${#fields.hasErrors('lastName')} ? 'has-error'">
                        <td>
                            <div class="control-group" th:classappend="${#fields.hasErrors('lastName')} ? 'error'">
                                <label class="control-label">Last Name</label>
                            </div>
                        </td>
                        <td>
                            <div class="controls">
                                <input type="text" class="form-control" th:field="*{lastName}"/>
                                <label class="control-label" th:errors="*{lastName}">[error]</label>
                            </div>
                        </td>
                    </tr>
                    <tr th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
                        <td>
                            <div class="control-group" th:classappend="${#fields.hasErrors('email')} ? 'error'">
                                <label class="control-label">Email</label>
                            </div>
                        </td>
                        <td>
                            <div class="controls">
                                <input type="text" class="form-control" th:field="*{email}"/>
                                <label class="control-label" th:errors="*{email}">[error]</label>
                            </div>
                        </td>
                    </tr>
                    <tr th:classappend="${#fields.hasErrors('birthDate')} ? 'has-error'">
                        <td>
                            <div class="control-group" th:classappend="${#fields.hasErrors('birthDate')} ? 'error'">
                                <label class="control-label">BirthDate</label>
                            </div>
                        </td>
                        <td>
                            <div class="controls">
                                <input type="text"
                                       class="form-control"
                                       autocomplete="off"
                                       th:field="*{birthDate}"/>
                                <label class="control-label" th:errors="*{birthDate}">[error]</label>
                            </div>
                        </td>
                    </tr>

                </table>
                <table class="table table-striped" th:if="${!contact['new']}">
                    <tr>
                        <th class="col-sm-1"></th>
                        <th class="col-sm-1">Contact Type</th>
                        <th class="col-sm-1">Contact Number</th>
                    </tr>
                    <tr th:each="contactPhone, rowStat : *{contactPhones}">
                        <td></td>
                        <td><input type="text" class="form-control"
                                   th:field="*{contactPhones[__${rowStat.index}__].phoneType}"/></td>
                        <td><input type="text" class="form-control input-button-right"
                                   th:field="*{contactPhones[__${rowStat.index}__].phoneNumber}"/>
                            <span class="col-sm-1 row-delete-button">
                               <button type="submit" class="btn btn-default"
                                       th:value="*{contactPhones[__${rowStat.index}__].contactPhoneId}"
                                       name="removeContactPhone" th:disabled="${appSettings.getIsDemoSite()}">
                                   <i class="glyphicon glyphicon-trash icon-white"></i>
                               </button>
                            </span>
                        </td>
                    </tr>
                </table>

                <table class="table table-striped" th:if="${!contact['new']}">
                    <tr>
                        <td class="col-sm-1">
                            <label th:text="#{contactform.hobbies.title}">[Hobbies]</label>
                        </td>
                        <td class="col-sm-2">
                            <ul class="hobbyList">
                                <li th:each="hobby : ${hobbies}">
                                    <input type="checkbox" th:field="*{hobbies}" th:value="${hobby.hobbyId}"/>
                                    <label th:for="${#ids.prev('hobbies')}" th:text="#{${hobby}}">[Hobby]</label>
                                </li>
                            </ul>
                        </td>
                    </tr>

                </table>


                <div class="col-lg-12 button-col-align-right">
                    <input type="submit" class="btn btn-primary"
                           th:value="(${contact['new']} ? 'Add' : 'Update') + ' Contact'"
                           th:disabled="!${currentUser?.user.hasAuthority('ROLE_ADMIN')}" />
                    <input th:type="submit" class="btn btn-success" th:if="${!contact['new']}"
                           name="addContactPhone"
                           th:value="#{contactform.contactPhone.row.add}"/>
                    <input type="button" th:onclick="'window.location.href=\'' + @{|/contacts/|} + '\''"
                           class="btn btn-success" value="Cancel"/>
                </div>

            </form>
            <div th:if="${appSettings.getIsDemoSite()}" class="form-disabled-note pull-right"><strong>Note: </strong>
                Updating and
                Creating Contacts requires Admin Role
            </div>
            <!--Alternatives to Restricting Access to Submit Button...-->
            <!--th:disabled="!${currentUser?.user.hasAuthority('ROLE_ADMIN')}"-->
            <!--th:disabled="!${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"-->
        </div>
    </div>
    <nav th:replace="fragments/secinfo :: [id='secInfo']">User Info</nav>
</div>

<div th:include="fragments/scripts :: [id='scripts']" th:remove="tag">Scripts</div>

<script th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
<link th:href="@{/webjars/jquery-ui-themes/1.11.4/overcast/jquery-ui.min.css}" rel="stylesheet"/>

</body>
</html>
