<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
    <title th:text="#{contact.list.page.title}">[NixMash Spring Contact List]</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar('demos')">Navbar</nav>

<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1 th:text="#{contact.list.page.header}">[Contacts]</h1>

                <p class="lead" th:text="#{contact.list.page.subheader}">[All Contacts]</p>
            </div>
            <div th:replace="fragments/sponsor :: [id='sponsor']">Sponsor Image</div>

        </div>
    </div>
</div>
<div class="container bs-container">
    <div class="row">
        <div class="bs-section">
            <div id="message-holder">
                <div th:if="${feedbackMessage}"
                     th:class="'messageblock hidden'"
                     th:text="${feedbackMessage}"></div>
            </div>

            <div id="grid-table">
                <table class="table table-striped table-bordered table-hover">
                    <tr th:each="contact : ${contacts}">
                        <td th:text="${contact.contactId}">1</td>
                        <td><a href="#" th:href="@{'/contact/' + ${contact.contactId}}"
                               th:text="|${contact.firstName} ${contact.lastName}|">[firstName] [lastName]</a>

                            <div class="form-actions pull-right">
                                <input type="button" class="btn btn-info" th:value="#{contact.list.page.button.update}"
                                       value="[Edit Contact]" onclick="window.location.href='contactform.html'"
                                       th:onclick="'window.location.href=\'' + @{|/contact/update/${contact.contactId}|} + '\''"/>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-actions col-md-offset-3 col-sm-offset-2 pull-right">
            <a th:href="@{'/contact/new/'}" th:text="#{contact.list.page.button.new}" href="contactform.html"
               class="btn btn-success">[Add New Contact]</a>
        </div>
    </div>
    <nav th:replace="fragments/secinfo :: [id='secInfo']">User Info</nav>
</div>

<div th:include="fragments/scripts :: [id='scripts']" th:remove="tag">Scripts</div>
<div th:include="fragments/alerts :: [id='alerts']" th:remove="tag">Alerts</div>

</body>
</html>



