<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="fragments/head :: head" th:remove="tag">Global Header</div>

<script type="text/javascript" th:src="@{/js/jquery-ui-1.9.0.custom.min.js}"></script>
<link rel="stylesheet" th:href="@{/style/ui-lightness/jquery-ui-1.9.0.custom.css}" type="text/css" />
<script type="text/javascript" th:src="@{/js/jquery-ui-1.9.0.custom.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/ui-lightness/jquery-ui-1.9.0.custom.css}" type="text/css" />

<title th:text="#{product.search.page.title}"></title>
</head>
<body onload="$('input[name=query]').focus();">
	<nav th:replace="fragments/navbar :: navbar('demos')">Navbar</nav>

	<div class="container">
		<div class="page-header" id="banner">
			<div class="row">
				<div class="col-lg-8 col-md-7 col-sm-6">
					<h1 th:text="#{product.search.page.header}">[Search Products]</h1>

					<p class="lead" th:text="#{product.search.page.subheader}">[Search Contacts by Last Name]</p>
				</div>
				<div th:replace="fragments/sponsor :: [id='sponsor']">Sponsor Image</div>

			</div>
		</div>
	</div>
	<div class="container bs-container">
		<div class="row">
			<div class="bs-section">
				<form th:object="${userQuery}" action="/products/list.html" th:action="@{/products/list}" method="get"
					class="form-horizontal" id="search-product-form">
					<table class="table table-striped">
						<tr th:classappend="${#fields.hasErrors('query')} ? 'has-error'">
							<td class="col-sm-1">
								<div class="control-group" th:classappend="${#fields.hasErrors('query')} ? 'error'">
									<label class="control-label">Search Query</label>
								</div>
							</td>
							<td class="col-sm-2">
								<div class="controls">
									<input type="text" class="form-control" id="queryField" name="query" size="30" maxlength="80" />
									<script type="text/javascript">
										$(function() {
											$("#queryField")
													.autocomplete(
															{
																source : '/products/autocomplete',
																minLength : 1,
																select : function(
																		event,
																		ui) {
																	$("#queryField").value = ui.item.value;
																	document.searchform
																			.submit();
																}
															});
										});
									</script>
								</div>
								<div class="controls" th:if="${#fields.hasErrors('query')}">
									<h4>
										<span class="label label-danger" th:errors="*{query}">[Errors]</span>
									</h4>
								</div>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<div class="form-actions pull-right">
									<button type="submit" class="btn btn-success">Search Products</button>
								</div>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
		<div class="row">
			<blockquote>
				<p>This Demo supports Autocomplete Search Term entry and full Solr Search Syntax. <br/>Working Solr search samples include:</p>
				<small>inStock:TRUE</small> <small>cat:memory</small> <small>name:Western+Digital AND inStock:FALSE</small> <small>popularity:7</small>
				<small>(name:memory AND name:corsair) AND popularity:[6 TO *]</small><small>"canon powershot"</small>
				<div style="display: inline-block; height: 15px;"></div>
				<p>Solr Highlighted Search results are also supported. Working search samples include:</p>
				<small>dell</small><small>dell monitor</small><small>intel memory</small>
			</blockquote>
		</div>
		<nav th:replace="fragments/secinfo :: [id='secInfo']">User Info</nav>
	</div>

	<div th:include="fragments/scripts :: [id='scripts']" th:remove="tag">Scripts</div>
</body>
</html>



