<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="addnote">
    <div class="container bs-docs-container big-font-container">
        <div class="row row-centered">
            <div class="bs-docs-section col-lg-9 col-centered">
                <form th:object="${postDTO}" method="post" action="/posts/add.html"
                      th:action="@{${#httpServletRequest.getRequestURI()}}"
                      class="form-horizontal" id="link-add-form">

                    <div th:if="${#fields.hasGlobalErrors()}"
                         class="has-error col-lg-offset-3 alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <label class="control-label" th:each="err : ${#fields.globalErrors()}"
                               th:text="${err}">...</label>
                    </div>

                    <div class="in-progress"><p class="intro">In Progress...</p>
                        <p>Thank you for demoing adding a post. We're currently working on adding links which you are welcome to demo!  To add a link return to the "Add Post" page, enter a Source Url and click "Add a Link."</p>
                        <p><a href="/posts/add" class="btn btn-large btn-primary">Return to Add Post</a> </p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>