<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="sidebar(activeTab)">

    <div  th:with="top=${currentUser == null} ? 266px :  308px" th:remove="tag">
        <style type="text/css" th:inline="text">
            #tagcloud.affix
            {
                top: [[${top}]];
            }
        </style>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-4" id="leftCol">
        <ul class="list-group" id="sidebar">

            <a th:href="@{/posts}" class="list-group-item"
               th:classappend="${activeTab == 'posts'} ? 'active'"><span  th:text="#{posts.sidebar.menu.recent}" th:remove="tag">[Recent Posts]</span>
                <i class="glyphicon glyphicon-chevron-right"></i></a>

            <a th:href="@{/posts/titles}" class="list-group-item"
               th:classappend="${activeTab == 'titles'} ? 'active'"><span  th:text="#{posts.sidebar.menu.titles}" th:remove="tag">[Post Titles]</span>
                <i class="glyphicon glyphicon-chevron-right"></i></a>

            <a th:href="@{/posts/az}" class="list-group-item"
               th:classappend="${activeTab == 'az'} ? 'active'"><span  th:text="#{posts.sidebar.menu.az}" th:remove="tag">[Posts A-to-Z]</span>
                <i class="glyphicon glyphicon-chevron-right"></i></a>

            <a th:if="${currentUser != null}" th:href="@{|/posts/likes/${currentUser.user.id}|}" class="list-group-item"
               th:classappend="${activeTab == 'likes'} ? 'active'"><span  th:text="#{posts.sidebar.menu.likes}" th:remove="tag">[Your Liked Posts]</span>
                <i class="glyphicon glyphicon-chevron-right"></i></a>

            <a th:href="@{/posts/feed}" class="list-group-item" target="_blank"><span  th:text="#{posts.sidebar.menu.rss}" th:remove="tag">[Post RSS Feed]</span>
                <i class="glyphicon glyphicon-chevron-right"></i></a>

        </ul>

        <div id="tagcloud">
            <div class="well  well-sm">
                <div id="sidebartags"></div>
            </div>
        </div>

    </div>
</div>

<script th:fragment="javascript" th:inline="javascript">

    /*<![CDATA[*/

    /* activate sidebar */
    $('#sidebar').affix({
        offset: {
            top: 235
        }
    });

    /* activate sidebar */
    $('#tagcloud').affix({
        offset: {
            top: 235
        }
    });

    /*]]>*/

</script>

</body>
</html>