<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
    <title>NixMash Spring Error Page</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar('error')">Navbar</nav>
<!--/*@thymesVar id="post" type="com.nixmash.springdata.jpa.model.Post"*/-->

<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1 th:text="${post.postTitle}">[post title]</h1>
            </div>
            <div th:replace="fragments/sponsor :: [id='sponsor']">[sponsor image]</div>
        </div>
    </div>
</div>
<div class="container bs-docs-container">
    <div class="row">
        <div class="container">
            <p>yousa!</p>
        </div>
    </div>
</div>
<div th:include="fragments/scripts :: [id='scripts']" th:remove="tag">[scripts]</div>
</body>
</html>
