<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/highlight/github.css}"/>
    <script th:src="@{/js/highlight.pack.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.lightbox.css}"/>
    <title th:text="|#{post.page.title.prefix(${post.postTitle})}|">[Page Title]</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar('posts')">Navbar</nav>

<!--/*@thymesVar id="post" type="com.nixmash.springdata.jpa.model.Post"*/-->
<!--/*@thymesVar id="postCreated" type="java.util.Date"*/-->
<!--/*@thymesVar id="PostType" type="com.nixmash.springdata.jpa.enums.PostType"*/-->
<!--/*@thymesVar id="image" type="com.nixmash.springdata.jpa.model.PostImage"*/-->
<!--/*@thymesVar id="singleImage" type="com.nixmash.springdata.jpa.model.PostImage"*/-->

<div class="container">
    <div class="page-header" id="banner">
        <div class="row post-header-row">
            <div th:replace="fragments/sponsor :: [id='sponsor']">[sponsor image]</div>
            <div class="col-lg-12">
                <h1 th:text="${post.postTitle}" class="post-title">[post title]</h1>
            </div>
        </div>
    </div>
</div>
<div class="container bs-container">
    <div class="row row-centered" id="post">
        <div class="bs-section col-lg-12 col-centered">
            <div id="message-holder">
                <div th:if="${feedbackMessage}" th:class="'messageblock hidden'"
                     th:utext="${feedbackMessage}"></div>
            </div>
            <div id="post-photo" th:if="${post.displayType.name() == 'SINGLEPHOTO_POST'}">
                <a th:href="|${post.singleImage.url}${post.singleImage.newFilename}|">
                    <img th:src="|${post.singleImage.url}${post.singleImage.newFilename}|" alt="Click to view the lightbox"
                         class="post-photo-single"/>
                </a>
            </div>
            <div id="post-body" th:utext="${post.postContent}">
            </div>
            <div id="post-photos" th:if="${post.displayType.name() == 'MULTIPHOTO_POST'}">

                <div th:each="image : ${post.postImages }" th:remove="tag">
                    <a th:href="|${image.url}${image.newFilename}|">
                        <img th:src="|${image.url}${image.newFilename}|" alt="Click to view the lightbox"
                             class="post-photo-thumbnail"/>
                    </a>
                </div>

            </div>

            <div id="post-footer">
                <div id="post-date" th:text="|Posted ${#dates.format(postCreated, 'MMMM dd, yyyy hh:mm a z')}|">
                    [post date]
                </div>
                <div class="post-tags">
                        <span class="taglink" th:each="tag : ${post.tags }"><a th:href="@{|/posts/tag/${#strings.toLowerCase(tag.tagValue)}|}"
                                                                               th:text="${tag.tagValue}" class="big label label-default">[TAG]</a></span>
                </div>
                <div class="share-like-row">
                    <div class="share-links">
                        <a class="share share_email"
                           th:href="|mailto:?subject=${post.postTitle}&amp;body=%20${shareUrl}|">
                            <img src="/images/share/email.png" title="Email" class="share-img-lg" alt="Email this to someone"/></a>
                        <a class="share share-twitter"
                           th:href="|http://twitter.com/share?url=${shareUrl}/&amp;text=${post.postTitle}+via+%40${shareSiteName}|"
                           target="_blank">
                            <img src="/images/share/twitter.png" title="Twitter" class="share-img-lg" alt="Tweet about this on Twitter"/></a>
                        <a class="share share-linkedin"
                           th:href="|http://www.linkedin.com/shareArticle?mini=true&amp;url=${shareUrl}|"
                           target="_blank">
                            <img src="/images/share/linkedin.png" title="LinkedIn" class="share-img-lg" alt="Share on LinkedIn"/></a>
                        <a class="share share-google"
                           th:href="|https://plus.google.com/share?url=${shareUrl}|"
                           target="_blank">
                            <img src="/images/share/google.png" title="Google+" class="share-img-lg" alt="Share on Google+"/></a>
                        <a class="share share-facebook"
                           th:href="|http://www.facebook.com/sharer.php?u=${shareUrl}|"
                           target="_blank">
                            <img src="/images/share/facebook.png" title="Facebook" class="share-img-lg" alt="Share on Facebook"/></a>
                    </div>
                    <div class="like-button">
                        <i class="fa fa-thumbs-up"></i>
                        <button class="btn-like" th:onclick="|likePost(${post.postId});|">Like</button>
                        <span class="like-count" th:id="|output-${post.postId}|" th:text="${post.likesCount}">[LIKE COUNT]</span>
                    </div>
                </div>
                <div class="footer-links">
                    <div class="source-link" th:if="${post.postType.name() == 'LINK'}">
                        <a th:href="${post.postLink}" th:text="|Source: ${post.postSource}|" target="_blank">[Post Source]</a>
                    </div>
                    <div class="edit-link" th:if="${post.isOwner}">
                        <a th:href="@{|/admin/posts/update/${post.postId}|}" th:text="#{post.permalink.edit}">[Edit]</a>
                    </div>
                </div>
            </div>
            <div class="permalink-close">
                <a href="javascript:window.open('','_self').close();" class="btn btn-success" th:text="#{posts.permalink.page.close}">Close</a>
            </div>
        </div>
    </div>
    <nav th:replace="fragments/secinfo :: [id='secInfo']">User Info</nav>
</div>
<div th:include="fragments/scripts :: [id='scripts']" th:remove="tag">[scripts]</div>
<div th:include="fragments/alerts :: [id='alerts']" th:remove="tag">Alerts</div>

<script th:src="@{/js/jquery.lightbox.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    $('pre code').each(function (i, block) {
        hljs.highlightBlock(block);
    });

    $(function () {
        $('#post-photos a').lightbox();
        $('#post-photo a').lightbox();
    });

    /*]]>*/
</script>

</body>
</html>
