<!DOCTYPE html>
<!--suppress JSUnusedLocalSymbols -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/highlight/github.css}"/>
    <script th:src="@{/js/highlight.pack.js}"></script>
    <title th:utext="#{posts.tags.page.title(${tag.tagValue})}">[NixMash Spring Posts by Tag]</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar('posts')">Navbar</nav>
<!--/*@thymesVar id="tag" type="com.nixmash.springdata.jpa.model.Tag"*/-->

<div class="container">
    <div th:with="heading=${tag.tagValue}, subheading=#{posts.tags.page.subheader(${tag.tagValue})}" th:remove="tag">
        <div th:replace="fragments/banner :: banner(${heading}, ${subheading})">
        </div>
    </div>
</div>

<div class="container bs-container">
    <div class="row">
        <div class="bs-section">
            <div th:include="fragments/alerts :: [id='feedback']" th:remove="tag">Feedback</div>
            <div th:include="fragments/posts/sidebar :: sidebar('posts')" th:remove="tag">Post List</div>
            <div th:include="fragments/posts/postlist :: postlist" th:remove="tag">Post List</div>
        </div>
    </div>

    <nav th:replace="fragments/secinfo :: [id='secInfo']">User Info</nav>
</div>

<div th:include="fragments/scripts :: [id='scripts']" th:remove="tag">Scripts</div>
<div th:include="fragments/alerts :: [id='alerts']" th:remove="tag">Alerts</div>

<script th:inline="javascript">
    /*<![CDATA[*/

    var tagId = [[${tag.tagId}]];
    var tagName = [[${tag.tagValue}]];
    var showMore = [[${showmore}]];
    var backToTop = "<a href='/posts/tag/" + tagName + "'>Back to top</a>";
    var baseUrl = "/json/posts/tag/" + tagId + "/page/";
    var moreUrl = "/json/posts/tag/" + tagId + "/more";

    /*]]>*/
</script>

<script th:replace="fragments/posts/postjs :: stream">[Post Stream Scripts]</script>
<script th:replace="fragments/posts/sidebar :: javascript">Post
Sidebar
Scripts</script>

</body>
</html>



