<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>

    <link rel="stylesheet" type="text/css" th:href="@{/css/highlight/github.css}"/>
    <script th:src="@{/js/highlight.pack.js}"></script>

    <title th:text="#{posts.list.page.title}">[NixMash Spring
        Posts]</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar('posts')">Navbar</nav>

<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1 th:text="#{posts.titles.page.header}">[Post Titles]</h1>

                <p class="lead" th:text="#{posts.titles.page.subheader}">[All Post Titles]</p>
            </div>
            <div th:replace="fragments/sponsor :: [id='sponsor']">Sponsor Image</div>

        </div>
    </div>
</div>
<div class="container bs-docs-container">
    <div class="row">
        <div class="bs-docs-section">

            <div th:include="fragments/alerts :: [id='feedback']" th:remove="tag">Feedback</div>

            <div th:include="fragments/posts/sidebar :: sidebar('titles')" th:remove="tag">Sidebar Menu</div>
            <div th:include="fragments/posts/postlist :: postlist" th:remove="tag">Post Title List</div>

        </div>
    </div>

    <nav th:replace="fragments/secinfo :: [id='secInfo']">User Info</nav>
</div>

<div th:include="fragments/scripts :: [id='scripts']" th:remove="tag">Scripts</div>
<div th:include="fragments/alerts :: [id='alerts']" th:remove="tag">Alerts</div>

<script th:inline="javascript">
    /*<![CDATA[*/

    var pageIndex = 0;

    $.get("/json/posts/titles/0", function (data) {
        $("#posts").html(data);
        pageIndex++;
    }).success(function () {
        $('.post:odd').addClass("odd");
        $('#morePosts').css('display', 'inline-block');
        $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
        });
    });

    function morePosts() {
        $.get("/json/posts/titles/" + pageIndex, function (data) {
            $("#posts").append(data);
            pageIndex++;
        }).success(function () {
            $('pre code').each(function(i, block) {
                hljs.highlightBlock(block);
            });
            $('.post:odd').addClass("odd")
            var backToTop = "<a href='/posts/titles'>Back to top</a>";
            $.get("/json/posts/titles/more", function (data) {
                if (data == "false")
                    $("#more-posts-button-row").html(backToTop);
            })
        });
    }

    $('pre code').each(function (i, block) {
        hljs.highlightBlock(block);
    });

    /*]]>*/
</script>

<script type="application/javascript">

    /* activate sidebar */
    $('#sidebar').affix({
        offset: {
            top: 235
        }
    });

    /* activate scrollspy menu */
    var $body   = $(document.body);
    var navHeight = $('.navbar').outerHeight(true) + 20;

    $body.scrollspy({
        target: '#leftCol',
        offset: navHeight
    });

</script>

</body>
</html>



