<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/highlight/github.css}"/>
    <script th:src="@{/js/highlight.pack.js}"></script>
    <title th:text="#{posts.list.page.title}">[NixMash Spring Posts]</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar('posts')">Navbar</nav>

<div class="container">
    <div th:with="heading=#{posts.titles.page.header}, subheading=#{posts.titles.page.subheader}" th:remove="tag">
        <div th:replace="fragments/banner :: banner(${heading}, ${subheading})">
        </div>
    </div>
</div>
<div class="container bs-container">
    <div class="row">
        <div class="bs-section">
            <div th:include="fragments/alerts :: [id='feedback']" th:remove="tag">Feedback</div>
            <div th:include="fragments/posts/sidebar :: sidebar('titles')" th:remove="tag">Sidebar Menu</div>
            <div th:include="fragments/posts/postlist :: postlist" th:remove="tag">Post Title List</div>
        </div>
    </div>
    <nav th:replace="fragments/secinfo :: [id='secInfo']">User Info</nav>
</div>

<div th:include="fragments/scripts :: [id='scripts']" th:remove="tag">Scripts</div>
<div th:include="fragments/alerts :: [id='alerts']" th:remove="tag">Alerts</div>

<script th:inline="javascript">
    /*<![CDATA[*/

    var showMore = [[${showmore}]];
    var backToTop = "<a href='/posts/titles'>Back to top</a>";
    var baseUrl = "/json/posts/titles/page/";
    var moreUrl = "/json/posts/titles/more";

    /*]]>*/
</script>

<script th:replace="fragments/posts/postjs :: stream">[Post Stream Scripts]</script>
<script th:replace="fragments/posts/sidebar :: javascript">[Post Sidebar Scripts]</script>

</body>
</html>



