<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-tagsinput.css}"/>
    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
    <title th:text="#{posts.update.page.title}">[Add NixMash Spring Post]</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar('posts')">Navbar</nav>

<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1 th:text="#{posts.update.page.header}">[Update Post]</h1>
            </div>
            <div th:replace="fragments/sponsor :: [id='sponsor']">Sponsor
                Image
            </div>

        </div>
    </div>
</div>
<div class="container bs-container">
    <div class="row">
        <div class="bs-section">
            <div id="message-holder">
                <div th:if="${feedbackMessage}" th:class="'messageblock hidden'"
                     th:utext="${feedbackMessage}"></div>
            </div>
            <div th:include="fragments/posts/updatepost :: updatepost" th:remove="tag">[Update Post]
            </div>
        </div>
    </div>

    <nav th:replace="fragments/secinfo :: [id='secInfo']">User Info</nav>

</div>

<div th:include="fragments/scripts :: [id='scripts']" th:remove="tag">Scripts</div>
<div th:include="fragments/alerts :: [id='alerts']" th:remove="tag">Alerts</div>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/editor.css}"/>

<div th:include="fragments/js :: summernote" th:remove="tag">[Summernote Javascript]</div>

<script th:src="@{/js/bootstrap3-typeahead.js}"></script>
<script th:src="@{/js/bootstrap-tagsinput.js}"></script>

<script type="text/javascript">

    $('#tag-select').tagsinput({
        tagClass: 'label label-default',
        typeahead: {
            source: function(query) {
                return $.get('/json/posts/tagvalues');
            }

        }
    });

</script>

</body>
</html>



