<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%.-1level|MVC-TEST|%-30.30logger{0}|%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.nixmash.springdata.solr" level="OFF"/>
    <logger name="org.thymeleaf" level="info"/>
    <logger name="org.hibernate" level="OFF"/>

    <!--<include resource="logJpaToFile.xml" />-->

    <root level="OFF">
        <appender-ref ref="console"/>
    </root>
>
</configuration>
