<html>
<body>
<div>
    #parse("fragments/header.vm")
</div>
<h3>${greeting}</h3>
<p>
    From ${message.fromName}
</p>
<h3>
    Comment
</h3>
<p>
    ${message.body}
</p>
<div>
    #parse("fragments/footer.vm")
</div>
</body>
</html>

