#map_canvas {
   display: block;
   width: 100%;
   height: 400px;
}

#iw_container .iw_title {
	font-size: 16px;
	font-weight: bold;
}

.iw_content {
	padding: 15px 15px 15px 0;
}

.infoBox {
	max-width: 300px;
	background: #fff;
	padding: 10px;
	border: 1px solid red;
}

.infoBox img {
	border: 1px solid yellow;
}

div.row-map {
	margin: auto;
	padding-bottom: 30px;
}

div.map-info {
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #DD4814;
	margin-bottom: 2px;
}
div.mappingError {
}
div.mapGoodLink {
    font-style: italic;
}
div.mapBadLink {
    margin-top: 3px;
    font-style: italic;
}
p.mapErrorLineSeparator {
    color: #ccc;
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 4px;
}