<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="body">

    <!--/*@thymesVar id="user" type="com.nixmash.springdata.jpa.model.User"*/-->
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 th:text="#{admin.users.title}">[User Administration]
                    </h2>
                    <small th:text="#{admin.users.subtitle}"  class="h2_subtitle">[List Users]</small>
                    <div class="form-actions col-md-offset-3 col-sm-offset-2 pull-right">
                        <a th:href="@{'/admin/users/new'}" th:text="#{admin.users.button.new}"
                           class="btn btn-primary">[Add User]</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content  fill-body-table">
                    <div id="message-holder">
                        <div th:if="${feedbackMessage}"
                             th:class="'messageblock hidden'"
                             th:text="${feedbackMessage}"></div>
                    </div>
                    <table id="usersTable" dt:table="true" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                            <th>Last Name</th>
                            <th dt:sortable="false">First Name</th>
                            <th style="width: 36px;" dt:sortable="false"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}">1</td>
                            <td th:text="${user.username}">johndoe</td>
                            <td th:text="${user.lastName}">Doe</td>
                            <td th:text="${user.firstName}">John</td>
                            <td><a th:href="@{|/admin/users/update/${user.id}|}"><span
                                    class="glyphicon glyphicon-pencil"></span></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
