<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
    <title>NixMash Spring Home Page</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar('home')">Navbar</nav>
    <div th:replace="fragments/jumbotron :: .jumbotron">Home Page Jumbotron</div>

    <div class="container"></div>

    <div th:include="fragments/scripts :: [id='scripts']" th:remove="tag">Scripts</div>
</body>
</html>
