<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="admin/fragments/head :: head" th:remove="tag">Global Header</div>
    <div th:include="admin/fragments/js :: functions('/admin/site/settings')" th:remove="tag">Functions</div>
    <title>NixMash Spring Administration - Site Settings</title>
</head>

<body th:replace="admin/includes/body :: body('site/settings')"></body>

</html>