<a target="_blank" href="${post.postLink}" class="remote-link" title="Go to External Site"></a>
<a target="_blank" href="/posts/post/${post.postName}" class="perma-link" title="Post Permalink"></a>
<div class="post-date"><span>Posted on </span><abbr title="${post.postDate}">${postCreated}</abbr>
</div>
<div class="post-tags">
    #foreach ( ${tag} in ${post.tags})
        #set ($url = $esc.url($tag.tagValue.toLowerCase()))
          <span class="taglink">
              <a href="/posts/tag/$url" class="big label label-default">${tag.tagValue}</a>
          </span>
    #end
</div>
