<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
<title th:text="#{signup.page.title}">[NixMash Spring Signup Page]</title>
</head>
<body role="document" onload="$('input[name=firstName]').focus();">
	<nav th:replace="fragments/navbar :: navbar('home')">Navbar</nav>

	<div class="container">
		<div class="page-header" id="banner">
			<div class="row">
				<div class="col-lg-8 col-md-7 col-sm-6">
					<h1 th:text="#{signup.page.header}">[Create a Site Account]</h1>
					<p class="lead" th:text="${connectionSubheader}">[Connection Subheader]</p>
				</div>
				<div th:replace="fragments/sponsor :: [id='sponsor']">Sponsor Image</div>

			</div>
		</div>


	</div>
	<div class="container bs-container">
		<div class="row row-centered">
			<div class="bs-section col-lg-6 col-centered">

				<div role="alert" th:if="${statusMessage}"
					th:class="'alert ' + ${statusMessageClass}?: 'alert-dismissible alert-success'" th:text="${statusMessage}"></div>

				<form name="f" th:action="@{/signup}" th:object="${socialUserDTO}" method="post" class="form-horizontal">
					<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
					<input type="hidden" name="signInProvider" th:value="*{signInProvider}" />
					
					<div th:if="${#fields.hasGlobalErrors()}" class="has-error col-lg-offset-3 alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<label class="control-label" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</label>
					</div>

					<fieldset>
						<div class="form-group" th:classappend="${#fields.hasErrors('firstName')} ? 'has-error'">
							<label for="firstName" class="col-lg-3 control-label" th:text="#{signup.form.firstName}">[First Name]</label>

							<div class="col-lg-5">
								<input type="text" th:field="*{firstName}" id="firstName" class="form-control" /> <label class="control-label"
									th:errors="*{firstName}">[error]</label>
							</div>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('lastName')} ? 'has-error'">
							<label for="lastName" class="col-lg-3 control-label" th:text="#{signup.form.lastName}">[Last Name]</label>

							<div class="col-lg-5">
								<input type="text" th:field="*{lastName}" class="form-control" /> <label class="control-label"
									th:errors="*{lastName}">[error]</label>
							</div>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('username')} ? 'has-error'">
							<label for="username" class="col-lg-3 control-label" th:text="#{signup.form.username}">[Username]</label>

							<div class="col-lg-5">
								<input type="text" th:field="*{username}" class="form-control" /> <label class="control-label"
									th:errors="*{username}">[error]</label>
							</div>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
							<label for="email" class="col-lg-3 control-label" th:text="#{signup.form.email}">[Email]</label>

							<div class="col-lg-7">
								<input type="text" th:field="*{email}" class="form-control" /> <label class="control-label" th:errors="*{email}">[error]</label>
							</div>
						</div>

						<div class="form-group">
							<div class="col-lg-9 col-lg-offset-3">
								<button type="submit" class="btn btn-primary" th:text="#{signup.form.submit}">[Submit]</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<div th:include="fragments/scripts :: [id='scripts']" th:remove="tag">Scripts</div>
	<div th:include="fragments/alerts :: [id='alerts']" th:remove="tag">Alerts</div>


</body>
</html>